/* Active Styles */

.color-change {
  color: #fe4949;
}

/* badges */

.hot-badge {
  background-color: #feb431;
  color: white;
  border-radius: 1.5rem;
  position: relative;
}
.hot-badge-left {
  background: url(https://cdn-icons-png.flaticon.com/512/4090/4090424.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0px;
  height: 5.73333vw;
  left: -0.9vw;
  position: absolute;
  width: 5.73333vw;
  z-index: 5;
}
.discount-badge {
  background-color: #fe4949;
  color: white;
  border-radius: 1.5rem;
  position: relative;
}
.discount-badge-left {
  background: url(https://cdn-icons-png.flaticon.com/512/272/272498.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0px;
  height: 5.73333vw;
  left: -0.9vw;
  position: absolute;
  width: 5.73333vw;
  z-index: 5;
}
.outOfStock-badge {
  background-color: #fe646f;
  color: white;
  border-radius: 1.5rem;
  position: relative;
}
.outOfStock-badge-left {
  background: url(https://cdn-icons-png.flaticon.com/512/5632/5632442.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0px;
  height: 5.73333vw;
  left: -0.9vw;
  position: absolute;
  width: 5.73333vw;
  z-index: 5;
}
.sale-badge {
  background-color: #ffd5dcb8;
  color: #fe4960;
  border-radius: 3px;
  font-weight: 500;
  padding: 0 3px;
}
.percentage-badge {
  background-color: #ffffff;
  color: #fc3636;
  border-radius: 0.5rem;
}
.percentOff-badge {
  font-size: 0.75rem;
  color: gray;
  text-decoration: line-through;
}
.low-stock-badge {
  background-color: #ff8a30e5;
  color: #fff;
  border-radius: 0.25rem;
}
.bestseller-badge {
  background-color: #2b2b2b;
  color: #fff;
  border-radius: 0.25rem;
}

/* Navbar styles */
.navbar {
  padding: 1.25rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}
.menu svg {
  font-size: 1.35rem;
}
.logo {
  width: 140px;
}
.sidebar-logo {
  position: absolute;
  top: 1.25rem;
  left: 10%;
  height: 10px;
  color: #ffffff;
  cursor: pointer;
}
.close {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  font-size: 1.65rem;
  color: #ffffff;
  cursor: pointer;
}
.sidebar {
  height: 100vh;
  background-color: #3f3f3f;
  color: white;
  padding: 3.5rem 1.75rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-y: scroll;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.sidebar li {
  list-style: none;
}
.menu-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 7;
  transform: translateX(-100%);
  transition: transform 1s ease-in-out;
}

.menu-box.visible {
  transform: translateX(0);
}

.menu-box.hidden {
  display: none;
}

.category-more {
  transition: all 0.3s ease-in-out;
}

.category-more.hidden {
  display: none;
}

.category-more.visible {
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
  padding-left: 0.8rem;
}

.category-btn__downArrow,
.category-btn__rightArrow {
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  grid-column: span 2;
  border-radius: 1.5rem;
  padding: 10px 13px;
  background-color: #ededed;
  border: 1px solid #a0a0a0;
}
.search-input {
  outline: none;
  border: none;
  background-color: transparent;
  width: 350px;
  padding-inline: 10px;
}
.nav-right {
  align-items: center;
  justify-content: end;
  position: absolute;
  right: 1.25rem;
}

.search-icon {
  color: #8a8a8a;
  padding-inline-end: 0.313rem;
}
/* footer styles */

.footer-container {
  padding: 1.25rem;
}
.footer-icons div {
  background-color: #d0d0d0;
  border-radius: 0.25rem;
  padding: 0.25rem 0rem;
  cursor: pointer;
}

.footer-icons div:hover {
  transition: all 0.1s ease;
  transform: scale(1.1);
}
.footer-copyright {
  font-size: 0.563rem;
  color: #8c8c8c;
}
/* responsive style */
@media (max-width: 430px) {
  .special-sec__img {
    height: 90px;
  }
  .badge-name {
    font-size: 0.75rem;
  }
}
@media (min-width: 500px) {
  .related-product__main {
    grid-template-columns: repeat(3, 1fr);
  }
  .product-pg__main {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 600px) {
  .special-sec__img {
    height: 150px;
  }
}
@media (min-width: 768px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 1rem;
  }

  .nav-left {
    justify-content: start;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .menu svg {
    font-size: 1.75rem;
  }
  .logo {
    width: 10.75rem;
  }
  .search {
    justify-content: center;
    display: flex;
    align-items: center;
    grid-column: 2 / 3;
    padding: 8px 10px;
    width: 100%;
  }

  .nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    grid-column: 3 / 4;
    position: static;
  }
  .offer-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }
  .offer-main__img {
    height: 90px;
    width: 100%;
  }
  .special-offer {
    display: none;
  }
  .offer-wrapper > .offer-box:nth-child(4) {
    display: none;
  }
  .categories-main {
    padding-top: 1rem;
  }
  .categories-wrapper {
    border-radius: 0.5rem;
  }
  .related-product__main {
    grid-template-columns: repeat(4, 1fr);
  }
  .product-pg__main {
    grid-template-columns: repeat(4, 1fr);
  }
  .footer-copyright {
    font-size: 0.75rem;
  }
  .items-pg__ss-wrapper {
    display: none;
  }
  .items-pg__fm-wrapper {
    display: block;
  }
}
@media (min-width: 900px) {
  .carousel-container {
    height: 300px;
  }
  .offer-wrapper > .offer-box:nth-child(4) {
    display: block;
  }
  .offer-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    max-width: 100%;
  }
  .related-product__main {
    grid-template-columns: repeat(5, 1fr);
  }
  .related-product__wrapper:hover {
    cursor: pointer;
    background-color: #e5e5e582;
    transition: all 0.1s ease;
    transform: scale(1.01);
  }
  .related-product__img {
    height: 190px;
    padding: 0.5rem;
  }
  .product-pg__main {
    grid-template-columns: repeat(5, 1fr);
  }
  .product-pg__wrapper:hover {
    cursor: pointer;
    background-color: #e5e5e582;
    transition: all 0.1s ease;
    transform: scale(1.01);
  }
  .product-pg__img {
    height: 190px;
    padding: 0.5rem;
  }
}
@media (min-width: 1200px) {
  .menu-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 21vw;
    height: 100vh;
    background-color: #ffffff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 7;
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
  }
  .sidebar-logo {
    position: absolute;
    top: 1.25rem;
    left: 20%;
    height: 15px;
    color: #ffffff;
    cursor: pointer;
  }
  .category-more.visible {
    display: flex;
    flex-direction: column;
    gap: 0.65rem;
    padding-left: 1.25rem;
  }
  .fm__specifications-tags{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
}

